/* Colors
  Purple: #902bf5
  White:  #F7F7F7
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    top: 0; /* Adjust as needed */
    left: 0; /* Navbar starts from the left edge */
    right: 0;
    z-index: 1000;
    height: 5%;
    align-items: center;
    position: fixed;
    background-color: #902bf5;
    /* width: 100%; */
}

a {
    text-decoration: none;
    color: black;
}

.nav-el {
    margin-right: 20px;
    font-size: 1.1em; /* slightly larger font size */
    font-weight: 600; /* bolder text */
    color: white;
}

.nav-el:hover {
    color: #902bf5; /* hover effect */
}

#about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

h1 {
    font-size: 2.5em; /* larger size for name */
    color: #902bf5; /* primary color for emphasis */
    font-weight: 700; /* bolder */
}

h2 {
    font-size: 1.8em; /* distinct size from h1 */
    font-weight: 600;
}

h4 {
    font-size: 1.2em;
    font-weight: 500;
}

.text-content {
    text-align: center;
    line-height: 1.6;
}

.arrow-test{
    display: flex;
    justify-content: flex-end;
}

#projects{
    height: 100%;
    width: 100%;
}

.projects-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border: 2px solid black;
    gap: 20px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E5;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    height: 60%;
}

.projects-desc p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
        
    }
    .projects-card{
        width: 100%;
        margin: 5px;
    }
    
}





